FRONTEND_HOST='localhost'
FRONTEND_DOMAIN='localhost'
FRONTEND_PROTOCOL='http://'
BACKEND_PORT='9001'
DB_USER='root'
DB_PASS=''
DB_HOST='127.0.0.1'
DB_PORT='3306'
DB_NAME='dot'
REDIS_HOST='127.0.0.1'
REDIS_PORT='6379'