FRONTEND_HOST='localhost'
FRONTEND_DOMAIN='localhost'
FRONTEND_PROTOCOL='http://'
BACKEND_PORT='9001'
DB_USER='nonroot'
DB_PASS='nonroot'
DB_HOST='blog-db-container'
DB_PORT='3306'
DB_NAME='dot'
REDIS_HOST='blog-cache-container'
REDIS_PORT='6379'